<div class="header-bg">
  <div class="container-full">
    <div class="header ">
      <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-YD5C2NKMT8"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-YD5C2NKMT8');
        </script>
      {% include nav.html %}
      <header class="container grid-xl landing-header">
        <div class="columns pt-12 pb-8">
          <div class="column col-11 col-mx-auto text-center">
            <h1 class="mt-2 super-h1">{{ site.header }}</h1>
            <h4 class="text-secondary">{{ site.subheader }}</h4>
          </div>
        </div>
      </header>
    </div>
  </div>
</div>
