{% if site.help_one_title == null %}
{% else %}

<div class="column col-4 col-sm-12 p-6 mb-12">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="{{site.baseurl}}/assets/chigzz.PNG" style="width:300px;height:300px">
</div>
{% endif %}
{% if site.help_two_title == null %}
{% else %}
<div class="column col-8 col-sm-12 p-15 mb-8">
  &nbsp;&nbsp;&nbsp;<p></p> <span style= "font-family:Roboto;font-weight:normal"><img src="{{site.baseurl}}/assets/apos.png" style="width:20px;height:20px">&nbsp;I am  passionate  about  working on dataset analysis and creating interactive
dashboards. Working in the healthcare sector has motivated me to help people</span>
<span style= "font-family:Roboto;font-weight:normal">by technology and to protect them from harm. I am an energetic worker with a</span>
<span style= "font-family:Roboto;font-weight:normal">strong aspiration to build a positive working environment and to achieve the highest</span>
<span style= "font-family:Roboto;font-weight:normal">productivity and results at work.</span>
</span>
</div>
{% endif %}